.block
  display flex
  justify-content: center
  margin-bottom: 95px

.block--main
  height 100vh
  width 100%
  padding-top:80px
  position: relative
  background-image: url("/static/img/content/venice.jpg")

.block-overlay
  position absolute
  width 100%
  height 100%
  background #34495e
  top 0
  left 0
  opacity: 0.75
  z-index: -1

.block--main-content
  margin-top: 5%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-transform: uppercase
  z-index: 11
  color: whiteColor

.block--main-content-subtitle
  font-family: mainFont
  font-weight: 200
  font-size: rem(28px)

.block--main-content-title
  font-weight: 700
  font-size: rem(40px)

.block-heading
    display: flex
    margin-bottom: 110px
.block-heading-title
    display: flex
    font-size: 30px
    text-transform: uppercase
    position:relative
    font-family: mainFont
    font-weight: 900
    padding-right: 50px
    &:after
      content: ''
      display: block
      width: 4px
      height: 45px
      position: absolute
      background-color: lightOrangeColor
      right: 20px
      top 0

.block-heading-text
  text-transform: uppercase
  font-size: 16px
.story
  display: flex
  justify-content: space-between
.story-content
  display: flex
  flex-direction: column
  padding-bottom: 120px
  width: 40%
.content-icon
  display: flex
  position: relative
  height: 125px
  width: 125px
  border-radius: 50%
  border: 2px solid lightOrangeColor
  justify-content: center
  align-items: center

.icon--bulb
  width: 35px
  height: 45px

.story-title
  font-size: rem(20px)
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 20px

.story-description
  color: #e74c3c
  margin-bottom: 45px

.text
  line-height: 28px
  color: #7f7f7f
  font-size: 18px

.our-skills
  border-top: 2px solid #e6e6e6
  padding-top: 110px
  display: flex
.icon--parameters
  width: 35px
  height: 45px
.our-skills-content
  display: flex
  flex-direction: column
  width: 50%
.our-skills-image
  margin-right: 90px

.our-skills-content-top
  display: flex
.content-icon--our-skills
  margin-right: 20px
.our-skill-text
  width: 75%

.progress-bar-block
  position: relative
  margin-bottom: 45px

.progress-bar-name
  text-transform: uppercase
  font-weight: 700
  margin-bottom: 15px

.progress-bar
  margin-top: 15px

.block--quote
  height: 75vh
  background: url('/static/img/content/landscape.jpg') no-repeat center
  background-size: cover
  position: relative
  justify-content: center
  align-items: center
.block-quote-overlay
  position absolute
  width 100%
  height 100%
  background #000000
  top 0
  left 0
  opacity: 0.55
  z-index: 0

.quote-content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: whiteColor
  padding: 0 10%
  span
    z-index: 11

.quote-text
  font-size: rem(40px)
  text-align: center
  font-weight: 700


.quote-author
  font-size: rem(24px)

.quote-separator
  display: flex
  background-color: lightOrangeColor
  width: 50px
  height: 4px
  margin: 40px 0 15px 0
  z-index: 11



.team-content
  display: flex
  flex-flow: wrap


.team-member
  height: 100%
  max-height: 100%
  width: 265px
  display: flex
  flex-direction: column
  align-items: center
  margin-right: 30px
  border-top: 5px solid transparent
  &:last-child
    margin-right: 0px
  &:hover
    background: #f0f0f0
    transition: 0.6s all ease-in-out
    border-top: 5px solid lightOrangeColor
  &:hover .team-separator
    transition: 0.6s all ease-in-out
    background: #e74c3c
.team-member-image
  width: 188px
  height: 188px
  border-radius: 50%
  border: 2px solid #ededed
  margin-top: 30px

.team-member-name
  font-size: rem(20px)
  font-weight: 700
  margin: 30px 0px 10px 0px
  text-transform: uppercase

.team-member-position
  color: #7e7e7e
  font-size: rem(15px)

.team-separator
  width: 30px
  height: 4px
  background: #cccccc
  margin: 15px 0 20px 0

.team-member-description
  text-align: center
  color: #7e7e7e
  margin-bottom: 20px
  line-height: 30px
  padding: 0 15px

.team-member-social
  margin-bottom: 20px

.team-member-socials
  margin-right: 15px
  &:last-child
    margin-right: 0px

.team-socials
  width: 18px
  height: 18px
  fill: #999999
  &:hover
    fill: lightOrangeColor
    transition: 0.3s all ease-in-out

.quote-content--facts
  flex-flow: wrap
  padding: 0
.fact
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-right: 100px
  &:last-child
    margin-right: 0px
  &:hover .fact-image
   transition: all 0.4s ease-in-out
   border: 2px solid whiteColor
  &:hover .fact-icon
    transition: all 0.4s ease-in
    fill: lightOrangeColor
.fact-image
  width: 150px
  height: 150px
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid lightOrangeColor
  border-radius: 50%
  z-index: 999999

.fact-icon
  fill: whiteColor
  height: 35px
  width: 45px
  z-index: 111

.fact-amount
  font-size: rem(45px)
  font-weight: 700
  margin-top: 10px

.fact-name
  font-size: rem(25px)
  font-weight: 700

.service-content
  display: flex
  flex-flow: wrap
  padding-bottom: 120px
  border-bottom: 2px solid #e6e6e6

.service
  max-height: 100%
  width: 365px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  margin-right: 35px
  &:last-child
    margin-right: 0
  &:hover .service-image
    background: lightOrangeColor
    transition: all 0.4s ease-in
  &:hover .service-icon
    fill: whiteColor
    transition: all 0.4s ease-in

.service-image
  width: 105px
  height: 105px
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid lightOrangeColor
  border-radius: 50%

.service-name
  font-size: rem(20px)
  font-weight: 700
  margin: 30px 0px 20px 0px
  text-transform: uppercase

.service-description
  color: #7e7e7e
  margin-bottom: 20px
  line-height: 30px
  padding: 0 5px

.service-icon
  width: 28px
  height: 28px

.package-desc
  display: flex
  flex-direction: column
  width: 35%
.package-content
  display: flex
  flex-flow: wrap
  padding-top: 120px

.pricing-content
  display:flex
.pricing-title
  font-size: rem(20px)
  font-weight: 700
  margin: 30px 0px 20px 0px
  text-transform: uppercase

.single-price
  display: flex
  width: 250px
  flex-direction: column
  height: 100%
  max-height: 100%
  border: 1px solid #e6e6e6
  align-items: center
  &:hover
    transition: all 0.4s ease-in-out
    transform: scaleY(1.07)
    cursor: pointer
  &:hover .single-price-header
    background: lightOrangeColor
    color: whiteColor
    transition: all 0.4s ease-in-out
    transform: scale(1.07)
  &:hover .single-price-separator
    background: whiteColor
    transition: all 0.4s ease-in-out
  &:hover .single-price-desc
    background: whiteColor
    transition: all 0.4s ease
  &:hover .single-price-header
    cursor: pointer
  &:hover .single-price-footer
    cursor: pointer
    transition:  all 0.4s ease-in-out


.single-price-header
  display: flex
  flex-direction: column
  padding: 30px 0
  align-items: center
  justify-content: center
  width: 100%
  border-bottom: 1px solid #e6e6e6


.single-price-name
  font-size: rem(22px)
  font-weight: 700
  text-transform: uppercase

.single-price-separator
  width: 50px
  height: 4px
  background: lightOrangeColor
  margin: 10px 0

.single-price-cost
  font-size: rem(22px)
  font-weight: 700
  text-transform: uppercase

.single-price-desc
  padding: 20px 0px
  width: 100%
  border-bottom: 1px solid #e6e6e6
  text-align: center

.single-price-footer
  padding: 30px 0

.testimonial.slick-slide
  outline: none!important

.testimonial
  z-index: 11
  display: flex!important
  flex-direction: column
  align-items: center

.testimonials-user-name
  font-size: rem(22px)
  text-transform: uppercase
  color: whiteColor
  z-index: 11
  font-weight: 900

.testimonials-quote-separator
  margin: 20px 0 40px 0

.testimonials-user-text
  z-index: 11
  color: whiteColor
  font-style: italic
  font-weight: 300
  font-size: rem(22px)
  width: 80%
  text-align: center
  line-height: rem(40px)


.testimonials-user-image
  display: flex
  width: 105px
  height: 105px
  border-radius: 50%
  border 1px solid whiteColor
  margin: 25px 0
  z-index: 11
.testimonials-user-img
  max-width: 100%
.testimonial-dots
  display: flex
  align-items: center
  justify-content: center



.testimonial-gallery-dot
  display: flex
  width: 12px
  height: 12px
  background-color: whiteColor
  opacity: 0.5
  border-radius: 50%
  margin-right: 5px
  cursor: pointer
  border: none
  &:hover
    transition: 0.3s all ease-in
    opacity: 1

.testimonial-dots .slick-active
  .testimonial-gallery-dot
    opacity: 1

.portfolio-carousel
  display: flex
  flex-direction: column
  width: 100%
  position: relative
  padding-bottom: 185px
  border-bottom: 2px solid #e6e6e6

.portfolio-slide
  display: none
  position: relative
  margin-bottom: 50px
  height: 580px

.portfolio-slide--showing
  display: flex
  position: relative
  margin-bottom: 50px

.p-slide-img
  width: 100%
  max-height: 100%

.portfolio-gallery-dots
  position: absolute
  top: 50%
  right: 20px


.portfolio-gallery-dot
  display: flex
  width: 15px
  height: 15px
  background-color: whiteColor
  opacity: 0.5
  border-radius: 50%
  margin-bottom: 5px
  cursor: pointer
  border: none
  &:hover
    transition: 0.3s all ease-in
    opacity: 1
  &:focus
    transition: 0.3s all ease-in
    opacity: 1

.portfolio-gallery-dots .slick-active
  .portfolio-gallery-dot
    opacity: 1
    transition: 0.3s all ease-in

.portfolio-gallery-controls
  display: flex
  align-self: center

.portfolio-gallery-arrow
  padding: 10px
  border: 1px solid #e6e6e6
  margin-right: 5px

.g-control-icon
  width: 12px
  height: 12px

.projects
  display: flex
  flex-direction: column
  align-items: center

.nav-projects
  width: 60%
  margin-top: 110px
  margin-bottom: 80px

.nav-link--project
  color: blackColor
  font-size: rem(14px)
  font-weight: 900
  &:hover
    color: lightOrangeColor

.nav-list--projects
  padding: 0 20px
  &:after
    color: #b3b3b3
    right: -8px

.projects-content
  display: flex
  flex-flow: wrap
  width: 100%

.single-project
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 25%
  height: 280px
  margin-bottom: 25px
  &:hover
    cursor: pointer
  &:hover .project-title
    transition: all 0.4s ease-in
    color: lightOrangeColor
  &:hover .single-project-image-overlay
    opacity: 0.65
    transition: all 0.6s ease-in-out
  &:hover .overlay-circle
    transform: translateY(0%)
    transition: all 0.4s ease-in-out
    animation-delay: 0.7s

.single-project-image
  position: relative
  height: 80%

.single-project-image-overlay
  position: absolute
  left: 0
  top: 0
  background: whiteColor
  height: 100%
  width: 100%
  display: flex
  opacity: 0
  align-items: center
  justify-content: center
  transition: all 0.4s ease-in-out


.overlay-circle
  display: flex
  align-items: center
  justify-content: center
  width: 100px
  height: 100px
  background: lightOrangeColor
  border-radius: 50%
  transform: translateY(-60%)
  transition: all 0.4s ease-in-out
  animation-delay: 0.7s

.sp-img
  max-width: 100%

.single-project-info
  display: flex
  flex-direction: column
  align-items: center

.project-title
  font-size: rem(15px)
  color: blackColor
  font-weight: 900
  text-transform: uppercase
  margin: 20px 0 15px 0

.project-type
  font-size: rem(14px)
  color: #b3b3b3
  font-weight: 700
  text-transform: capitalize

.icon-add
  width: 46px
  height: 46px
  fill: white

.social-block-image
  width: 104px
  height: 104px
  display: flex
  align-items: center
  justify-content: center
  border: 2px solid whiteColor
  border-radius: 50%

.social-block
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.social-block-image
  z-index: 11
  &:hover
    border: 2px solid lightOrangeColor
    transition: 0.3s all ease-in-out
  &:hover .service-icon--social
    fill: whiteColor
    transition: 0.3s all ease-in-out
.service-icon--social
  fill: lightOrangeColor

.social-block-text
  z-index: 11
  color: whiteColor
  font-size: rem(22px)
  text-align: center
  display: flex
  width: 75%
  line-height: rem(40px)
  margin-top: 30px

.social-block-link
  color: lightOrangeColor
  margin-left: 5px

.block-heading--blog
  margin-bottom: 150px

.blog-content
  display: flex
  flex-flow: wrap

.blog-post
  position: relative
  display: flex
  flex-direction: column
  width: 45%
  margin-right: 55px
  margin-bottom: 35px
  height: 100%
  &:last-child
    margin-right: 0
    margin-bottom: 0px

.blog-post-image
  position: relative
  height: 300px


.blog-img
  max-width: 100%
  height: 100%

.blog-content-wrap
  display: flex

.blog-post-content
  position: relative
  width: 80%
  max-height: 100%
  background: whiteColor
  padding: 20px
  margin-top: -50px

.blog-post-content-title
  text-transform: uppercase
  margin-bottom: 40px

.blog-post-content-text
  margin-bottom: 30px

.blog-icon
  width: 35px
  height: 35px
  position: absolute
  bottom: 0
  left: 14%
  background-color: #f39c12
  fill: #fff
  padding: 5px


.blog-post-content-text
  line-height: rem(30px)

.blog-info
  display: flex
  flex-direction: column
  width: 110px
  max-width: 110px
  padding-top: 40px
  padding-right: 5px
  text-align: right

.blog-info-text
  font-size: rem(14px)
  color: #a7a7a7
  margin-bottom: 5px

.our-clients
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.our-clients-content
  display: flex
  flex-flow: wrap

.our-clients-heading
  font-size: rem(30px)
  color: whiteColor
  z-index: 11
  text-transform: uppercase
  margin-bottom: 50px

.single-clients
  display: flex
  padding: 45px 15px
  align-items: center
  justify-content: center
  margin-right: 45px
  z-index: 11
  border: 1px solid #4b5258
  width: 225px
  height: 70px
  &:last-child
    margin-right: 0

.clients-img
  max-width: 100%
