.header
  display flex
  align-items: center

.logo
  margin-right: 10%
  z-index: 1

.logo-img
  max-width: 75%
.nav
  display: flex

.nav-list
  position: relative
  padding:0 45px
  &:after
    content: '\\\\'
    color: whiteColor
    position: absolute
    display: block
    width: 15px
    height: 15px
    top 1px
    right: 0
  &:last-child
    margin-right: 0
    padding-right: 0
    &:after
      display: none
.nav-link
  font-size: 18px
  font-family: mainFont
  color: whiteColor
  text-transform: uppercase
  &:hover
    color: blackColor
    transition: 0.3s ease-in
