header.header
  .logo
    a(href="/")
      img.logo-img(src="./static/img/general/logo.png")
  navigation.nav
    li.nav-list
      a.nav-link(href="/") About
    li.nav-list
      a.nav-link(href="/") Team
    li.nav-list
      a.nav-link(href="/") Services
    li.nav-list
      a.nav-link(href="/") Works
    li.nav-list
      a.nav-link(href="/") Blog
    li.nav-list
      a.nav-link(href="/") Contact
