.btn
 border: none
.btn--learn-more
  padding: 15px 35px;
  background lightOrangeColor
  color whiteColor
  text-transform uppercase
  font-family mainFont
  font-size rem (15px)
  margin-top 50px
  &:hover
    cursor: pointer
    background #f3b34e
    transition 0.3 ease-in-out

.btn-purchase
  padding: 15px 30px;
  background whiteColor
  color #000000
  border: 2px solid lightOrangeColor
  text-transform uppercase
  font-family mainFont
  font-size rem (15px)
  font-weight 700
  &:hover
    cursor: pointer
    background lightOrangeColor
    transition all 0.7s ease
    color: whiteColor
